.link {
	margin: 1rem 0.2rem;
	padding: 0.5rem 1rem;
	font-size: 1.6rem;
	color: var(--tertiaryColor);
	transition: color 0.3s ease-in;
}
/* Do poprawy kolory */
.link.active {
	color: var(--secondaryColor);
}

.icon {
	margin-right: 1rem;
}


