.sidebar {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	top: calc(--header-height);
	right: -250px;
	height: calc(100vh - 10rem);
	background-color: var(--navColor);
	transition: right 0.3s ease-in;
	overflow: hidden;
	z-index: 3;
}

.sidebar.open {
	right: 0;
}

.linkList {
	display: flex;
	flex-direction: column;
	padding: 2rem 3rem;
}

.copy {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
	padding-top: 1rem;
	color: var(--primaryColor);
	border-top: 0.1rem solid var(--primaryColor);
}
