.sidebar {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	top: 9rem;
	right: -250px;
	height: calc(100% - 9rem);
	background-color: var(--navigationBackgroundColor);
	transition: right 0.3s ease-in;
	overflow: hidden;
	z-index: 5;
}

.sidebar.open {
	right: 0;
}

.linkList {
	display: flex;
	flex-direction: column;
	padding: 2rem 3rem;
}

.copy {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
	padding-top: 1rem;
	font-size: 1.2rem;
	color: var(--primaryColor);
	border-top: 0.1rem solid var(--secondaryColor);
}

.span {
	color: var(--secondaryColor);
}

@media (min-width: 481px) {
	.sidebar {
		top: 10rem;
		height: calc(100% - 10rem);
	}
}
@media (min-width: 768px) {
	.sidebar {
		display: none;
	}
}
