.container {
	display: flex;
	flex-direction: column;
}

.links {
	display: flex;
	justify-content: space-between;
}

.link {
	margin: 0.4rem 0.4rem;
	padding: 0.2rem 0.5rem;
	font-size: 1.2rem;
	font-weight: 400;
}

.contact,
.contact:visited {
	color: var(--primaryColor);
	transition: color 0.3s ease-in;
}

.contact:hover {
	color: var(--tertiaryColor);
}

.socialMedia {
	display: flex;
	justify-content: center;
	align-items: end;
}
.socialMedia .link {
	margin-left: 0rem;
}

.instagram {
	background: linear-gradient(
		45deg,
		#f58529,
		#feda77,
		#dd2a7b,
		#8134af,
		#515bd4
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.facebook {
	color: #1877f2;
}

.booksy,
.booksy:visited {
	color: #33b5bd;
	transition: color 0.3s ease-in;
}

.booksy:hover {
	color: #2a959c;
}

span {
	font-weight: 900;
}

@media (min-width: 481px) {
	.link {
		font-size: 1.4rem;
	}
}
