.containerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.heading {
  margin-bottom: 2rem;
  font-size: 3.6rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--secondaryColor);
}

.headingNewOffer {
  font-size: 1.6rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
}

.headingHighlighted {
  font-size: 3.2rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1rem;
  color: var(--primaryColor);
}

.paragrapHighlighted {
  margin: 1rem 0 2rem;
  font-size: 1.6rem;
  text-align: center;
  color: var(--alertColor);
}

.offerList {
  min-width: 30rem;
  list-style: none;
  letter-spacing: 0.1rem;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  color: var(--primaryColor);
  border-bottom: 0.1rem solid #00000040;
}

.itemTitle {
  width: 60%;
  text-align: left;
}

.itemContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.priceContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2rem;
}

.priceContainer p {
  width: 50%;
}

.time {
  font-weight: 100;
}

.saleOn {
  text-decoration: line-through;
}

.bonusOffer {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: var(--secondaryColor);
}

@media (min-width: 768px) {
  .offerList {
    min-width: 60rem;
  }

  .listItem {
    font-size: 1.6rem;
  }

  .itemContainer {
    width: 15rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
