.offer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1rem 0rem;
}

.offer:nth-child(odd) {
	flex-direction: row-reverse;
}

.containerImg {
	display: flex;
	align-items: center;
	justify-content: start;
	min-width: 50%;
}
.offer:nth-child(odd) .containerImg {
	justify-content: end;
}

.circleImg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15rem;
	height: 15rem;
	border-radius: 100%;
	background-color: var(--sectionBackgroundColor);
	box-shadow: 0 0 1rem -0.5rem black;
}

.offerImg {
	height: 13rem;
	width: 13rem;
	border-radius: 100%;
	background-position: center;
	background-size: cover;
}
.containerTitle {
	max-width: 50%;
}
.offerTitle {
	color: var(--primaryColor);
	text-transform: uppercase;
	font-size: 1.6rem;
	text-align: right;
}
.offer:nth-child(odd) .offerTitle {
	text-align: left;
}

.summaryOffer {
	display: none;
	font-size: 1.4rem;
	color: var(--secondaryColor);
}

.listContainer {
	display: none;
	list-style: disc;
}

.listItem {
	margin-left: 1rem;
	margin-top: 1rem;
	font-size: 1.4em;
	line-height: 1.6rem;
	color: var(--secondaryColor);
}

@media (min-width: 481px) {
	.offer {
		width: 44rem;
	}
}

@media (min-width: 768px) {
	.offer,
	.offer:nth-child(odd) {
		height: 100%;
		width: 100%;
	}
	.containerImg,
	.offer:nth-child(odd) .containerImg {
		justify-content: center;
		align-items: center;
	}
	.circleImg {
		width: 20rem;
		height: 20rem;
	}
	.offerImg {
		width: 18rem;
		height: 18rem;
	}
	.offerTitle,
	.offer:nth-child(odd) .offerTitle {
		margin: 1rem 0;
		text-align: start;
		font-size: 2.4rem;
	}
	.summaryOffer {
		display: inline;
	}
	.listContainer {
		display: block;
	}
}
