.containerWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0rem;
	max-width: 90%;
	height: 100%;
	border-bottom: 0.1rem solid #0000004d;
}

.containerWrapper:last-child {
	border: none;
}

.containerWrapper:nth-child(odd) {
	flex-direction: row-reverse;
}

.imgBackground {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15rem;
	height: 15rem;
	border-radius: 100%;
	background-color: var(--sectionBackgroundColor);
	box-shadow: 0 0 1rem -0.5rem black;
}

.imgBackground .imgOffer {
	height: 13rem;
	width: 13rem;
	border-radius: 100%;
	object-fit: cover;
}

.offerInfo {
	display: block;
	width: 50%;
	min-height: 15rem;
}

.treatmentTitle {
	font-size: 1.6rem;
	text-align: left;
	text-transform: uppercase;
	color: var(--primaryColor);
}

.containerWrapper:nth-child(even) .treatmentTitle {
	text-align: right;
}

.treatmentInfo {
	height: 100%;
	width: 100%;
}

.toggleButton {
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 1rem 0;
	font-size: 1.4rem;
	width: 100%;
	border: none;
	background: none;
	cursor: pointer;
	transition: color 0.3s ease-in;
}

.containerWrapper:nth-child(odd) .toggleButton {
	justify-content: start;
}

.toggleButton:hover {
	color: var(--primaryColor);
}

.toggleButton .fontAwesome {
	margin-left: 1rem;
}

.hiddenDetails {
	max-height: 0;
	margin-top: 10px;
	color: var(--linkColor);
	font-weight: 300;
	letter-spacing: -0.02rem;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
}

.hiddenDetails.show {
	max-height: 90rem;
}

.extendedInfo {
	font-size: 1.6rem;
}

.extendedInfo.show {
	display: block;
}

.listContainer {
	list-style: disc;
	padding-left: 0.5rem;
}

.listInfo {
	margin-top: 1rem;
	margin-left: 1rem;
	font-size: 1.6rem;
}

@media (min-width: 768px) {
	.containerWrapper,
	.containerWrapper:nth-child(odd) {
		height: 100%;
		width: 100%;
	}

	.imgBackground {
		width: 20rem;
		height: 20rem;
	}

	.imgBackground .imgOffer {
		width: 18rem;
		height: 18rem;
	}

	.treatmentTitle {
		margin: 1rem 0;
		font-size: 2.4rem;
		text-align: start;
	}

	.toggleButton {
		display: none;
	}

	.hiddenDetails {
		max-height: 90rem;
	}
}
