.mainPhoto {
	height: 20rem;
	background-position: center;
	background-size: cover;
	width: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem 0;
	padding: 2rem 2rem;
}

.container:last-of-type{
	padding: 2rem .5rem;
}

.rowMap {
	display: none;
}
.header {
	margin-bottom: 1rem;
	font-weight: 300;
	font-size: 3.2rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	color: var(--secondaryColor);
}

.headerParagraph {
	margin-top: 0.2rem;
	font-size: 1.6rem;
	letter-spacing: 0.05rem;
	text-indent: 1.2rem;
	color: var(--linkColor);
}

.headerParagraph span {
	font-weight: 600;
	color: var(--primaryColor);
}

.headerParagraph:nth-child(2) {
	text-indent: 0;
}

.headerList {
	padding-left: 1.6rem;
	font-size: 1.6rem;
	letter-spacing: 0.05rem;
	color: var(--linkColor);
}

.containerPersonel {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	max-width: 90rem;
}

.aboutMe {
	margin-top: 1rem;
	padding-right: 1rem;
	font-size: 1.6rem;
	text-align: left;
	text-indent: 1.2rem;
	color: var(--linkColor);
}

.aboutMeParagraph {
	margin-top: 0.2rem;
}

.aboutMe .aboutMeParagraph:nth-child(2) {
	text-indent: 0;
}

.aboutMeList {
	padding-left: 1.6rem;
	text-indent: 0;
}

.person {
	/* width: 40%; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.personBackground {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 18rem;
	width: 18rem;
	background-color: var(--sectionBackgroundColor);
	border-radius: 100%;
	box-shadow: 0 0 1rem -0.5rem black;
}
.imgaPerson {
	height: 16rem;
	width: 16rem;
	border-radius: 100%;
	background-position: 0 -2rem;
	background-size: cover;
	background-repeat: no-repeat;
}
.personName {
	margin-top: 1rem;
	font-size: 1.6rem;
	font-weight: 500;
	text-align: center;
	color: var(--primaryColor);
}

.offerRowContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 90rem;
}

.map {
	display: none;
	border: none;
}



@media (min-width: 768px) {
	.mainPhoto {
		height: 40rem;
	}
	.containerDesktop {
		display: flex;
		justify-content: center;
		flex-direction: row;
		max-width: 90rem;
	}
	.rowText {
		width: 50%;
	}

	.rowMap {
		display: block;
		width: 50%;
	}
	.container .paragraph {
		margin-right: 2rem;
		font-size: 1.8rem;
		width: 50%;
	}

	.containerPersonel {

		flex-direction: row;
		max-width: 90rem;
	}
	.personBackground {
		width: 25rem;
		height: 25rem;
	}
	.imgaPerson {
		width: 23rem;
		height: 23rem;
	}
	.map {
		display: block;
		width: 100%;
		height: 100%;
	}
}
