.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem 0 4rem;
	padding-bottom: 2rem;
}

.container:nth-child(even) {
	background-color: var(--sectionBackgroundColor);
}

.container h1,
h2 {
	margin-bottom: 1rem;
	font-size: 3.2rem;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: -0.1rem;
	color: var(--secondaryColor);
}

.container h2 {
	margin-top: 1rem;
	font-size: 2.6rem;
	text-transform: none;
}

.container .paragraph {
	margin: 0 2rem 1rem;
	font-size: 1.4rem;
	letter-spacing: 0.05rem;
	text-align: justify;
	color: var(--linkColor);
}
.map {
	display: none;
	border: none;
}

@media (min-width: 768px) {
	.containerDesktop{
		display: flex;
		flex-direction: row;
		padding: 0 2rem;
		max-width: 90rem;
	}
	.paragraph{
		width: 50%;
	}
	.map{
		display: block;
		width: 50%;
	}
	.row {
		width: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
}
