.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 2rem;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
	width: 100%;
}

.container:last-child {
	padding-bottom: 0;
}

.header {
	margin-bottom: 1rem;
	font-size: 3.2rem;
	font-weight: 300;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: var(--secondaryColor);
}

.listTab {
	min-width: 25rem;
}

.listItem {
	display: flex;
	justify-content: space-between;
	font-size: 1.6rem;
	letter-spacing: 0.1rem;
	font-weight: 300;
	color: var(--secondaryColor);
}

.listItem:nth-last-child(-n + 2) {
	color: var(--alertColor);
	font-weight: 300;
}

.addresItem {
	margin: 1rem 0;
	font-size: 1.6rem;
	font-weight: 300;
	letter-spacing: 0.1rem;
}

.linkItem {
	margin: 1rem 0;
	font-size: 1.6rem;
	color: var(--tertiaryColor);
	letter-spacing: 0.1rem;
	transition: color 0.3s ease-in;
}

.linkItem:visited {
	color: var(--tertiaryColor);
}

.linkItem:hover {
	color: var(--primaryColor);
}

.linkItem span {
	color: #33b5bd;
	font-weight: 800;
	letter-spacing: -0.05rem;
}

.mapGoogle {
	height: 40rem;
	width: 100%;
	border: none;
}

.instagram {
	background: linear-gradient(
		45deg,
		#f58529,
		#feda77,
		#dd2a7b,
		#8134af,
		#515bd4
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.facebook {
	color: #1877f2;
}

@media (min-width: 768px) {
	.header {
		font-size: 4rem;
	}
	.listTab {
		min-width: 40rem;
	}
	.listItem,
	.linkItem,
	.addresItem {
		font-size: 2.4rem;
	}
}
