.header {
	position: sticky;
	top: 0;
	background-color: var(--navColor);
	box-shadow: 0 0.5rem 1rem -0.5rem var(--primaryColor);
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	color: var(--primaryColor);
}
/* wkleić logo firmy */
.logo {
	font-size: 2rem;
}

.menuButton {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 0.5rem;
	background: none;
	border: none;
}

.menuButton:focus {
	outline: none;
}

.burgerIcon,
.burgerIcon::after,
.burgerIcon::before {
	position: absolute;
	width: 3.5rem;
	height: 0.4rem;
	background-color: var(--primaryColor);
	border-radius: 2rem;
	transition: transform 0.3s ease-in;
}

.burgerIcon::after {
	content: "";
	top: 1rem;
	left: 0;
}

.burgerIcon::before {
	content: "";
	top: -1rem;
	left: 0;
}

.burgerIcon.active {
	transform: rotate(-45deg);
}
.burgerIcon.active::after {
	transform: translateY(-1rem);
}
.burgerIcon.active::before {
	transform: translateY(1rem) rotate(90deg);
}

.overlay {
	position: absolute;
	top: calc(--header-height);
	width: 100%;
	height: 100vh;
	background-color: hsla(0, 0%, 0%, 0.5);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s;
	z-index: 2;
}

.overlay.show {
	visibility: visible;
	opacity: 1;
}
