.containerWrapper {
	position: sticky;
	top: 0;
	height: 8rem;
	background-color: var(--navigationBackgroundColor);
	box-shadow: 0 0rem 1rem -0.4rem var(--primaryColor);
	z-index: 5;
}

.mobile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0rem;
	color: var(--secondaryColor);
}

.desktop {
	display: none;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
	color: var(--linkActiveColor);
}

.logo {
	width: 30rem;
}

.menuButton {
	margin-right: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem 2rem;
	background: none;
	border: none;
	z-index: 5;
}

.menuButton:focus {
	outline: none;
}

.burgerIcon,
.burgerIcon::after,
.burgerIcon::before {
	position: absolute;
	width: 3.5rem;
	height: 0.4rem;
	background-color: var(--secondaryColor);
	border-radius: 2rem;
	transition: transform 0.3s ease-in;
}

.burgerIcon::after {
	content: "";
	top: 1rem;
	left: 0;
}

.burgerIcon::before {
	content: "";
	top: -1rem;
	left: 0;
}

.burgerIcon.active {
	transform: rotate(-45deg);
}

.burgerIcon.active::after {
	transform: translateY(-1rem);
}

.burgerIcon.active::before {
	transform: translateY(1rem) rotate(90deg);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s;
	z-index: 1;
}

.overlay.show {
	visibility: visible;
	opacity: 2;
}

@media (min-width: 768px) {
	.containerWrapper {
		height: auto;
	}

	.mobile {
		display: none;
	}

	.desktop {
		display: flex;
	}
	
	.logo {
		width: 32rem;
	}
}
