.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.4rem;
	height: 5rem;
	background: var(--primary-gradient);
	z-index: 5;
	border: 8rem black;
}

.header .media,
.header .contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.link {
	font-size: 1rem;
	color: var(--active-color);
	transition: color 0.3s;
}

.link:hover {
	color: var(--secondary-color);
}

.link i {
	margin: 0 0.3rem 0 0.3rem;
	font-size: 1rem;
}
