.navItem {
	display: flex;
	align-items: center;
	justify-content: start;
	margin: 1rem 2rem 1rem 0.5rem;
	padding: 1rem 4rem 1rem 2rem;
	width: 16rem;
	font-family: 'roboto';
	font-weight: 300;
	font-size: 2rem;
	color: var(--primary-color);
	transition: color 0.3s;
}

.navItem.active {
	color: var(--active-color);
}

i {
	margin-right: 2rem;
	transition: color 0.3s;
}

.navItem.active > i {
	color: var(--active-color);
}
