.footer {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	width: 100%;
	background-color: var(--sectionBackgroundColor);
	border-top: 0.1rem solid #00000030;
}
.container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
}

.box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer p,
.footer a {
	padding: 0.5rem 0;
	font-size: 1.2rem;
	font-weight: 500;
	color: var(--primaryColor);
	transition: color 0.3s ease-in;
}
.footer a:hover {
	color: var(--tertiaryColor);
}

.brand {
	margin: 0;
	padding: 0.5rem 0;
	font-size: 1.2rem;
	text-align: center;
	font-weight: 600;
	color: var(--linkColor);
	background-color: var(--secondaryColor);
}

.gitPromo {
	font-size: 1rem;
}

.gitPromo a {
	color: var(--linkColor);
}

.instagram {
	background: linear-gradient(
		45deg,
		#f58529,
		#feda77,
		#dd2a7b,
		#8134af,
		#515bd4
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.facebook {
	color: #1877f2;
}

.facebook i,
.instagram i {
	margin-right: 0.5rem;
}

@media (min-width: 481px) {
	.footer p,
	.footer a {
		font-size: 1.4rem;
		margin: 0.5rem 0;
	}
	.brand {
		font-size: 1.4rem;
	}
}

@media (min-width: 768px) {
}
