.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: var(--sectionBackgroundColor);
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0.5rem 2rem;
}

.footer p,
.footer a {
	padding: 0.5rem 0;
	font-size: 1.2rem;
	font-weight: 500;
	color: var(--primaryColor);
	transition: color 0.3s ease-in;
}
.footer a:hover {
	color: var(--tertiaryColor);
}

.brand {
	margin: 0;
	padding: 0.5rem 0;
	font-size: 1.2rem;
	text-align: center;
	font-weight: 600;
	color: var(--linkColor);
	background-color: var(--secondaryColor);
}

@media (min-width: 481px) {
	.footer p,
	.footer a {
		font-size: 1.4rem;
		margin: 0.5rem 0;
	}
	.brand{
		font-size: 1.4rem;
	}
}

@media (min-width: 768px) {
}
