.containerWrapper {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	width: 100%;
	background-color: var(--sectionBackgroundColor);
	border-top: 0.1rem solid #00000030;
}

.container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
}

.infoWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.addressParagraph,
.contactLink {
	padding: 0.5rem 0;
	font-size: 1.2rem;
	font-weight: 500;
	text-align: center;
	color: var(--primaryColor);
	transition: color 0.3s ease-in;
}

.contactLink:hover {
	color: var(--tertiaryColor);
}

.containerAlt {
	margin: 0;
	padding: 0.5rem 0;
	background-color: var(--secondaryColor);
}

.brandName {
	font-size: 1.2rem;
	font-weight: 100;
	text-align: center;
	color: var(--footer);
}

.github {
	font-size: 1rem;
	text-align: center;
	font-weight: 300;
	color: var(--footer);
}

.githubLink {
	color: var(--footer);
}

.instagram {
	background: linear-gradient(
		45deg,
		#f58529,
		#feda77,
		#dd2a7b,
		#8134af,
		#515bd4
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.facebook {
	color: #1877f2;
}

.facebook i,
.instagram i {
	margin-right: 0.5rem;
}

@media (min-width: 481px) {
	.addressParagraph,
	.contactLink {
		font-size: 1.4rem;
		margin: 0.5rem 0;
	}
}
