* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

:root {
	--primary-gradient: linear-gradient(90deg, #003f5c, #005f99);
	--primary-color: #005f99;
	--secondary-color: #f0f8ff;
	--sidebar: #f0f8ffcb;
	--active-color: #38b6a6;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	background-color: #0c0c0c;
	/* overflow-x: hidden; */
}

#root {
	width: 100%;
	height: 100%;
	
}
