* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

:root {
	--navColor: #f7f7f7e6;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	height: 200vh;
	width: 100%;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	background-color: #b4b4b4;
}

#root {
	/* overflow-x: hidden; */
	width: 100%;
	height: 100%;
}
