* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

:root {
	--primaryColor: #2b79c1;
	--secondaryColor: #111111;
	--tertiaryColor: #4e92d1;

	--linkColor: #64748b;
	--linkHoverColor: #4b586b;
	--linkActiveColor: #3a4350;

	--generalBackgroundColor: #f7f7f7;
	--sectionBackgroundColor: #f7f7f7;
	--navigationBackgroundColor: #f7f7f7e6;

	--alertColor: #d9534f;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	background-color: var(--generalBackgroundColor);
}

#root {
	width: 100%;
	height: 100%;
}

main{
	min-height: 100vh;
}

a {
	text-decoration: none;
}
