.offerInfo {
  padding: 0.5rem 2rem;
  text-align: center;
  max-width: 70rem;
}

.titleOffer {
  padding-top: 0.5rem;
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: var(--primaryColor);
  border-top: 0.1rem solid #00000040;
  cursor: pointer;
  transition: color 0.3s ease-in;
}

.titleOffer:hover {
  color: var(--linkColor);
}

.hiddenDetails {
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 0.3s ease-in,
    opacity 0.3s ease-in;
}

.hiddenDetails.open {
  max-height: 50rem;
  opacity: 1;
}

.extendedInfo,
.listItem,
.recommendationsTitle {
  margin-top: 0.5rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  color: var(--secondaryColor);
}

.listOffer {
  list-style: none;
}

.listItem {
  font-size: 1.6rem;
  border-top: 0.1rem solid #00000020;
}

.recommendationsTitle {
  margin-top: 1rem;
  font-weight: 400;
}
.recomendationList {
  list-style: none;
}

.recomendationList .recomendationItem {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: var(--secondaryColor);
}

.recommendationsSection {
  display: flex;
  justify-content: space-evenly;
}
